// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li {
 display: inline-block;
 list-style: none;
}

.jumbotron {
	background-image: url("https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  a.btn-primary {
  background-color: rgb(51, 51, 51);
  border: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: inline;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  letter-spacing: 1.3px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}